main#chat {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}
main > #top {
	position: relative;
	margin: 0.3rem 0.5rem 0.5rem 0.5rem;
	border-bottom: 1px solid black;
	text-align: center;
}
#top h1 {font-size: 2rem;}
#top img {
	max-width: 30px;
	position: absolute;
	left: 0;
}
main > #mid {
	justify-self: end;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0 0.5rem;
	overflow-y: auto;
	overflow-wrap: anywhere;
	scrollbar-width: thin;
}
main > #mid > p {text-align: center;}
main > #mid .msg {
	margin: 1rem 0;
}
main > #mid .msg > p {position: relative;}
main > #mid .msg.o > p {text-align: right;}
main > #mid .msg sup.rm {
	position: relative;
	display: none;
	left: 10px;
	cursor: pointer;
	color: crimson;
}
main > #mid .msg p:hover sup.rm {display: inline}
main > #mid .msg > div {
	margin-top: 0.2rem;
	white-space: pre-wrap;
	padding: 0.1rem 0.5rem 0.2rem 0.5rem;
	width: fit-content;
	border-radius: 4px;
	background: #f6f6ff;
}
main > #mid .msg.o > div {
	margin-left: auto;
	background: #e0fff0;
}
main > #bot {
	display: grid;
	grid-template-columns: max-content 1fr;
	margin: 0.5rem;
}
main > #bot img {
	align-self: end;
	margin-right: 0.5rem;
	height: 36px;
	z-index: 1;
}
main > #bot > form.input {
	display: flex;
	margin: auto;
	border-radius: 8px;
	max-width: 400px;
	width: 100%;
}
main > #bot > form > textarea {
	outline: none; box-shadow: none; resize: none;
	scrollbar-width: thin;
	border-radius: 8px 0 0 8px;
	width: 100%;
	height: 36px;
	max-height: 100px;
}
main > #bot > form > button {
	border-radius: 0 8px 8px 0px;
	background: #978bc2;
	font-weight: bold;
	color: white;
}
main > #bot > form > button:active {
	transform: none;
	color: black;
}
